<h2 align ="center">Welcome <%= User.find(session[:current_user_id]).name %></h2>

<!-- <a href="/followers"> Who You're Following </a> -->
<div class= "container follows" align= "center">
<p> Followers </p>
<% following = User.find(session[:current_user_id]).users_following%>
<% following.each do |person| %>
<a href="/profile/<%person.handle%>"> <%=person.handle %> </a>
<%end%>

<p> Who you're Following </p>
<% followers = User.find(session[:current_user_id]).users_followed%>
<% followers.each do |person| %>
<a href="/profile/<%person.handle%>"> <%=person.handle %> </a>
<%end%>
</div>


<div class="container" align="center">
  <%id = session[:current_user_id] %>
  <h4> Here are your snacks: </h4>
  <%array = Tweet.where(user_id: id) %>
  <%array.each do |snack|%>
  <a href="/snack/<%=snack.id%>"><p><%= snack.content %></p></a>
  <% end %>
</div>

